.allPlayers {
    
    height: 100%; 
    width: 100%;
    /* margin: 0 auto; */
    background-color: bisque;
    
  }
  .test_switch_parent {
    height: 100%;
    width: 100%;
    background-color: gray;
  }
  
  .test_switch {
    position: relative;
     width: 400px; 
    /* margin: 0 auto; */
    background-color: #292c2f;
    /* pointer-events: auto; */
    /* height: 400px;*/
    
  }
  
  #childId {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  #childId iframe {
    width: 100vw;
    height: auto;
  }
  .tce_mainPanel {
    pointer-events: none;
    width: 100%;
    height: 100%;
    // background: red;
  }